project:
  type: website
  output-dir: docs

website:
  title: "JAMES HONG"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme: darkly
    css: styles.css
    toc: false



